.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    .my-custom-scrollbar-2 {
        position: relative;
        height: 328px;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
